<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">
	
	<resultMap type="Message" id="messageMap">
	<id column="message_idx" property="message_idx"/>
	<result column="message_content" property="message_content" />
	<result column="message_regdate" property="message_regdate" />
	<result column="message_check" property="message_check" />
	<result column="me" property="me" />
	<result column="you" property="you" />
	
	<association 
	column="chat_idx"
	property="chat"
	javaType="Chat"
	select="Chat.selectAll" />
	
	</resultMap>
	
	<!-- 전체조회하기 -->
	<select id="selectAll" resultType="Message">
		select * from message order by message_idx asc
	</select>
	
	<!-- 한 채팅방의 check=0 확인하기 -->
	<select id="seleckByCheck" parameterType="int" resultType="Message">
		select message_check from message
		where chat_idx=#{chat.chat_idx}
		and message_check = 0
	</select>

	<!-- 한 채팅방의 메세지 조회하기 -->
	<select id="selectChat" parameterType="Message" resultType="Message">
		select * from message where chat_idx=#{chat.chat_idx}
		order by message_idx asc
	</select>

	<!-- 메세지 저장하기 -->
	<insert id="insert" parameterType="Message">
		insert into message(message_idx, chat_idx, me, you, message_content)
		values(seq_message.nextval, #{chat.chat_idx}, #{me}, #{you}, #{message_content})
	</insert>
	
	<!-- 채팅방 클릭시 message_check 0 -> 1로 바꾸기 -->
	<update id="updateCheck" parameterType="Message">
		update message set message_check = #{message_check}
		where chat_idx = #{chat.chat_idx}
	</update>

	


</mapper>