<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Movie">
	<resultMap type="Movie" id="movieMap">
		<id column="movie_idx" property="movie_idx"/>
		<result column="movie_name" property="movie_name"/>
		<association property="video" column="video_idx" javaType="Video" select="Video.select"></association>
	</resultMap>

	<insert id="insert" parameterType="Movie">
		insert into movie(movie_idx,movie_name,section_idx,video_idx) values(seq_movie.nextval,#{movie_name},#{section.section_idx},#{video.video_idx})
	</insert>
	
	<select id="selectBySection" parameterType="int" resultMap="movieMap">
		select * from movie where section_idx=#{section_idx}
	</select>
	
	<delete id="deleteBySection" parameterType="java.util.List">
    	delete movie
	    <where>
		    <foreach collection="list" item="section" open="" close="" separator="OR">
		        (section_idx = #{section.section_idx})
		    </foreach>
	    </where>
	</delete>
</mapper>