<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Qnaboard">

	<resultMap type="Qnaboard" id="QnaboardMap">
		<id column="qnaboard_idx" property="qnaboard_idx"/>
		<result column="qnaboard_title" property="qnaboard_title"/>
		<result column="qnaboard_content" property="qnaboard_content"/>
		<result column="qnaboard_regdate" property="qnaboard_regdate"/>
		
		<!-- 부모인 admin과 association -->
		<association column="admin_idx" property="admin"
			javaType="Admin" select="Admin.select" />
		
	</resultMap>
	
	<select id="selectAll" resultMap="QnaboardMap">
	 	select * from qnaboard
	</select>
	
	<select id="select" resultType="Qnaboard" parameterType="int">
		select * from qnaboard where qnaboard_idx=#{qnaboard_idx}
	</select>
	
	<insert id="insert" parameterType="Qnaboard">
		insert into qnaboard(qnaboard_idx, qnaboard_title, qnaboard_content,qnaboard_regdate,admin_idx)
		values(seq_qnaboard.nextval,#{qnaboard_title}, #{qnaboard_content},sysdate,#{admin.admin_idx})
	</insert>
	
	<update id="update" parameterType="Qnaboard">
		update qnaboard set qnaboard_title=#{qnaboard_title},qnaboard_content=#{qnaboard_content},admin_idx=#{admin.admin_idx}
		where qnaboard_idx=#{qnaboard_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from qnaboard where qnaboard_idx=#{qnaboard_idx}
	</delete>
	
</mapper>