<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Subject">
	
	<resultMap type="Subject" id="subjectMap">
		<id column="subject_idx" property="subject_idx"/>
		<result column="subject_title" property="subject_title"/>
		<result column="subject_subTitle" property="subject_subTitle"/>
		<result column="subject_pic" property="subject_pic"/>
		<result column="subject_price" property="subject_price"/>
		<result column="subject_access" property="subject_access"/>
		<result column="subject_detail" property="subject_detail"/>
		<result column="subject_permission" property="subject_permission"/>
		
		<association property="teacher" column="teacher_idx" javaType="Teacher" select="Teacher.selectOneByTeacher" />
		<association property="sub_category" javaType="SubCategory" column="sub_category_idx" select="SubCategory.select" />
		<collection property="sectionList" column="subject_idx" javaType="java.util.List" ofType="Section" select="Section.selectBySubject" />
		<collection property="goals" column="subject_idx" javaType="java.util.List" ofType="Goal" select="Goal.selectAllBySubject" />
		<collection property="requirements" column="subject_idx" javaType="java.util.List" ofType="Requirement" select="Requirement.selectAllBySubject" />
	</resultMap>
	
	<resultMap type="Subject" id="subjectAccessMap">
		<id column="subject_idx" property="subject_idx"/>
		<result column="subject_title" property="subject_title"/>
		<result column="subject_subTitle" property="subject_subTitle"/>
		<result column="subject_pic" property="subject_pic"/>
		<result column="subject_price" property="subject_price"/>
		<result column="subject_access" property="subject_access"/>
		<result column="subject_detail" property="subject_detail"/>
		<result column="subject_permission" property="subject_permission"/>
		<association property="teacher" column="teacher_idx" javaType="Teacher" select="Teacher.selectOneByTeacher"></association>
	</resultMap>
	
	<resultMap type="Subject" id="subjectDetailMap">
		<id column="subject_idx" property="subject_idx"/>
		<result column="subject_title" property="subject_title"/>
		<result column="subject_subTitle" property="subject_subTitle"/>
		<result column="subject_pic" property="subject_pic"/>
		<result column="subject_price" property="subject_price"/>
		<result column="subject_detail" property="subject_detail"/>
		<association property="sub_category" javaType="SubCategory" column="sub_category_idx" select="SubCategory.select" />
	</resultMap>

	<!-- 전부 가져오기 -->
	<select id="selectAll" resultType="Subject">
		select * from subject
	</select>
	
	<!-- 강의 한건 가져오기 -->
	<select id="select" parameterType="int" resultMap="subjectMap">
		select * from subject where subject_idx = #{subject_idx}
	</select>
	
	<select id="selectSummary" parameterType="int" resultType="Subject">
		select * from subject where subject_idx=#{subject_idx}
	</select>
	
	<!-- 강사의 강의 전체 가져오기 -->
	<select id="selectAllByTeacher" parameterType="int" resultMap="subjectMap">
		select * from subject where teacher_idx = #{teacher_idx}
	</select>
	
	<select id="selectAllByTeacherAccess" parameterType="int" resultMap="subjectMap">
		select * from subject where teacher_idx = #{teacher_idx} and (subject_access = 0 or subject_access = 1)
	</select>
	
	<!-- null로 되어있는 강의 한건 등록 -->
	<insert id="insert" parameterType="Subject">
		insert into subject(subject_idx,teacher_idx) values(seq_subject.nextval,#{teacher.teacher_idx})
		<selectKey keyColumn="subject_idx" keyProperty="subject_idx" order="AFTER" resultType="int">
			select seq_subject.currval as subject_idx from dual
		</selectKey>
	</insert>
	
	<!-- null로되어있던 강의 업데이트 -->
	<update id="updateAddFile" parameterType="Subject">
		update subject set subject_title=#{subject_title}, subject_subTitle=#{subject_subTitle}, subject_pic=#{subject_pic}, subject_price=#{subject_price},
		 subject_detail=#{subject_detail}, sub_category_idx=#{sub_category.sub_category_idx} where subject_idx=#{subject_idx}
	</update>
	
	<select id="selectToDetail" parameterType="int" resultMap="subjectDetailMap">
		select * from subject where subject_idx=#{subject_idx}
	</select>
	
	<select id="selectFilename" parameterType="int" resultType="String">
		select subject_pic from subject where subject_idx=#{subject_idx}
	</select>
	
	<delete id="delete" parameterType="int">
		delete subject where subject_idx=#{subject_idx}
	</delete>
	
	<update id="subjectRequest" parameterType="int">
		update subject set subject_permission=1 where subject_idx=#{subject_idx}
	</update>
	
	<update id="updateAccess" parameterType="Subject">
		update subject set subject_access=#{subject_access} where subject_idx=#{subject_idx}
	</update>
	
	<select id="selectAllAccessList" parameterType="java.util.Map" resultMap="subjectMap">
		select rowNum, subject_idx, subject_title, subject_subTitle, subject_pic, subject_price, subject_detail, teacher_idx, sub_category_idx
		from (select * from subject where (subject_access = 0 or subject_access = 1) AND subject_permission = 2 order by subject_idx desc) 
		where rowNum &gt;=#{startRow} and rowNum &lt;=#{lastRow}
	</select>
	
	<select id="selectAllPermissionRequestList" parameterType="java.util.Map" resultMap="subjectMap">
		select rowNum, subject_idx, subject_title, subject_subTitle, subject_pic, subject_price, subject_detail, teacher_idx, sub_category_idx
		from (select * from subject where (subject_access = 0 or subject_access = 1) AND subject_permission = 1 order by subject_idx desc) 
		where rowNum &gt;=${startRow} and rowNum &lt;=${lastRow}
	</select>
	
	<select id="selectAllAccessRecoard" resultType="int">
		select count(*) from subject where subject_access = 1 AND subject_permission = 2
	</select>
	
	<update id="updatePermission" parameterType="int">
		update subject set subject_permission=2 where subject_idx=#{subject_idx}
	</update>
	
</mapper>